/************General***********/
* {
    box-sizing: border-box;
}

body {
    font-family: 'roboto', sans-serif;
}

ul {
    list-style-type: none;
}

/************Users index***********/

.users_index_container {
    display: flex;
    justify-content: center;
}

.user_card {
    display: flex;
    gap: 20px;
    padding: 25px;
    border: 1px solid gray;
    margin-bottom: 15px;
}

.user_card_name {
    font-size: 30px;
    width: 5ch;
}

.user_card_posts {
    display: flex;
    align-items: end;
}